.image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid #424242;
    cursor: pointer;
}

.image:hover {
    background: rgb(42, 42, 42);
}