.choice {
    padding: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    color: #D6D0FB;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.text {
    display: flex;
    gap: 5px;
}
