@media (min-width: 1600px) {
    .testim {
        padding: 30px 162px;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .testim {
        padding: 15px 62px;
    }
}

.testim {
    margin-top: 80px;
}

.testim-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testim-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 2px solid #0c0c10;
}

.total {
    color: #62646c;
    font-size: 18px;
}

.num {
    color: #cacace;
    font-size: 28px;
}

.cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}