@media (min-width: 1600px) {
    .services {
        padding: 30px 162px;
    }

    .services-img {
        width: 773px;
        height: 625px;
    }

    .events {
        font-size: 44px;
    }

    .text-s .s-h-l {
        font-size: 18px;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .services {
        padding: 15px 62px;
    }

    .services-img {
        width: 620px;
        height: 526px;
    }

    .events {
        font-size: 34px;
    }
    .text-s .s-h-l {
        font-size: 16px;
    }
}

.services {
    margin-top: 80px;
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.services-main {
    margin-top: 80px;
    display: flex;
    gap: 30px;
}


.container-header {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.container-top {
    color: #797c86;
}


.s-h-l {
    color: #cacace;
    font-size: 18px;
    padding: 20px 0;
}

.services-events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
