@media (min-width: 1600px) {
    .header {
        padding: 30px 162px;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .header {
        padding: 15px 62px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    color: white;
}

.header-nav {
    display: flex;
    gap: 25px;
}

.header-link {
    color: white;
    text-decoration: none;
}

.header-logo {
    font-size: 27px;
}