.footer-bg-top {
  margin: 80px 0;
  display: flex;
  justify-content: flex-end;
}

.damien {
  margin-right: 80px; /* Отступ справа */
  max-width: 100%; /* Чтобы картинка не выходила за границы */
  height: auto;
}

.footer-bg {
  margin: 80px 0;
  background: no-repeat;
  display: flex;
  justify-content: center;
}

.footer-main {
  display: flex;
  border: 1px solid #1c1c21;
}

.title-text {
  margin-bottom: 60px;
  color: #797c86;
  font-size: 20px;
}

.footer-title {
  padding: 60px 50px;
  border-left: 1px solid #1c1c21;
  border-right: 1px solid #1c1c21;
}

.footer-container {
  padding: 60px 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-left: 1px solid #1c1c21;
  border-right: 1px solid #1c1c21;
}

.text {
  color: #797c86;
  font-size: 18px;
}

.footer-info {
  display: flex;
  padding: 40px 165px;
  justify-content: space-between;
  align-items: center;
}

.btn-link {
  background-color: #070708;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f3;
}

.btn-link:hover {
  border-bottom: 1px solid #797c86;
}

.info-btn {
  display: flex;
  gap: 10px;
}

.info-text {
  color: #797c86;
  font-size: 18px;
}
