@media (min-width: 1600px) {
    .named {
        font-size: 58px;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .named {
        font-size: 48px;
    }
}

.named {
    color: white;
}