.photography {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px;
    /* background-color: #0E0E10; */
    font-size: 18px;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;
    scroll-behavior: smooth;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
}

/* Скрытие полосы прокрутки */
.photography::-webkit-scrollbar {
    display: none;
}

/* Эффект активного перетаскивания */
.photography.active {
    cursor: grabbing;
}
