@media (min-width: 1600px) {
  .butclick {
    width: 130px;
    height: 66px;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .butclick {
        width: 104px;
        height: 56px;
      } 
}

.butclick {
  background-color: #4a2ced;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.butclick:hover {
  background-color: #aea1f7;
}
