@font-face {
    font-family: "Manrope";
    src: url('./fonts/Manrope.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
    max-width: 1920px;
}

.App {
    background-color: #070708;
}