@media (min-width: 1600px) {
    .faq {
        padding: 30px 162px;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .faq {
        padding: 15px 82px;
    }
}

.faq {
    margin-top: 80px;
}