@media (min-width: 1024px) and (max-width: 1600px) {
    .offer-text {
        font-size: 48px;
    }
}

.icon {
    display: flex;
     gap: 10px;
}

.offer-text {
    color: white;
    font-size: 58px;
}



